@charset "UTF-8";
body {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Verdana, "ＭＳ Ｐゴシック", sans-serif;
}

.container {
  position: relative;
  margin: 0 auto;
  list-style: none;
  max-width: 960px;
  width: 80%;
}

#header {
  background-color: #e9f3f5;
  padding: 16px 0 19.5px 0;
}

#header #header-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  max-width: 960px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#header #header-in .header-icon {
  width: 48%;
}

#header #header-in .hamburger,
#header #header-in .globalMenuSp {
  display: none;
}

#header #header-in .header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 48%;
  margin-left: 4%;
}

#header #header-in .header-nav li {
  list-style: none;
  margin-top: 4px;
  height: 40px;
}

#header #header-in .header-nav li a {
  text-decoration: none;
  font-size: 14px;
  color: #626262;
  padding-right: 10px;
  font-weight: bold;
}

#header #header-in .header-nav li a img {
  vertical-align: middle;
  padding-right: 10px;
  margin-bottom: 3px;
}

#header #header-in .header-nav li a:hover {
  color: #42b9d0;
}

.top-image {
  background-image: url(images/top/cover.jpg);
  background-size: cover;
  text-align: left;
  height: 420px;
  padding: 0;
}

.top-image-text {
  max-width: 960px;
  margin: 0 auto;
}

.top-image-text img {
  margin-top: 180px;
  margin-left: 70px;
}

.top-wrapper {
  background-color: #ffff;
  width: 100%;
  padding: 30px 0 0 0;
}

.top-wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.top-wrapper ul li:first-child {
  margin-left: 0;
}

.top-wrapper ul li {
  list-style: none;
  width: 295px;
  margin-left: 4%;
}

.top-wrapper ul li img {
  max-width: 100%;
}

.top-wrapper ul li h5 {
  font-size: 16px;
  margin: 16px 0 22.5px 0;
  color: #626262;
  letter-spacing: -1px;
}

.top-wrapper ul li p {
  font-size: 13px;
  color: #626262;
  line-height: 20px;
  margin-bottom: 25px;
}

.news-wrapper {
  background-color: #e9f3f5;
}

.news-wrapper .news-wrapper-list {
  padding: 0 10% 50px 10%;
}

.news-wrapper .news-wrapper-list h3 {
  font-size: 22px;
  color: #42b9d0;
  text-align: center;
  padding: 53px 0 69px 0;
  letter-spacing: 2px;
}

.news-wrapper .news-wrapper-list ul {
  margin-bottom: 30px;
  list-style: none;
  padding-left: 0;
  margin-top: 0;
}

.news-wrapper .news-wrapper-list ul p {
  font-size: 14px;
  color: #000;
  text-align: center;
  padding-bottom: 30px;
}

.news-wrapper .news-wrapper-list ul p span {
  font-size: 14px;
  color: #42b9d0;
  margin-right: 10px;
}

#footer {
  width: 100%;
  background-color: #42bad0;
  padding-top: 30px;
}

#footer .footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#footer .footer-list-logo {
  width: 30.666667%;
}

#footer .footer-list-logo img {
  max-width: 100%;
}

#footer .footer-list-address {
  margin-left: 4%;
  width: 30.6666667%;
}

#footer .footer-list-address p {
  color: #ffff;
  font-size: 12px;
  line-height: 20px;
}

#footer .footer-list-nav {
  width: 30.6666667%;
  margin-left: 4%;
  float: right;
}

#footer .footer-list-nav a {
  color: #ffff;
  text-decoration: none;
  font-size: 11px;
}

#footer .footer-list-nav a img {
  vertical-align: middle;
  margin-right: 3px;
}

.footer-copyright {
  text-align: center;
  padding: 30px 0 25px 0;
}

.footer-copyright p {
  font-size: 10px;
  color: #b2e1ea;
}

.news-top-wrapper,
.company-top-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 200px;
  background-image: url(images/news/sub_cover.jpg);
  background-size: cover;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.news-top-wrapper p,
.company-top-wrapper p {
  color: #ffff;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 2px;
}

.news-main-wrapper,
.company-main-wrapper {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news-main-wrapper .news-main-wrapper-container,
.news-main-wrapper .company-main-wrapper-container,
.company-main-wrapper .news-main-wrapper-container,
.company-main-wrapper .company-main-wrapper-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 35px 0 90px 0;
  max-width: 100%;
  margin: 0 auto;
}

.news-main-wrapper .news-main-wrapper-container .news-main-wrapper-container-left,
.news-main-wrapper .news-main-wrapper-container .company-main-wrapper-container-left,
.news-main-wrapper .company-main-wrapper-container .news-main-wrapper-container-left,
.news-main-wrapper .company-main-wrapper-container .company-main-wrapper-container-left,
.company-main-wrapper .news-main-wrapper-container .news-main-wrapper-container-left,
.company-main-wrapper .news-main-wrapper-container .company-main-wrapper-container-left,
.company-main-wrapper .company-main-wrapper-container .news-main-wrapper-container-left,
.company-main-wrapper .company-main-wrapper-container .company-main-wrapper-container-left {
  padding-right: 10px;
  width: 74%;
}

.news-main-wrapper .news-main-wrapper-container .news-main-wrapper-container-left h3,
.news-main-wrapper .news-main-wrapper-container .company-main-wrapper-container-left h3,
.news-main-wrapper .company-main-wrapper-container .news-main-wrapper-container-left h3,
.news-main-wrapper .company-main-wrapper-container .company-main-wrapper-container-left h3,
.company-main-wrapper .news-main-wrapper-container .news-main-wrapper-container-left h3,
.company-main-wrapper .news-main-wrapper-container .company-main-wrapper-container-left h3,
.company-main-wrapper .company-main-wrapper-container .news-main-wrapper-container-left h3,
.company-main-wrapper .company-main-wrapper-container .company-main-wrapper-container-left h3 {
  font-size: 20px;
  color: #42b9d0;
  padding-bottom: 20px;
  border-bottom: 3px solid #42b9d0;
  font-weight: bold;
  line-height: 25px;
  letter-spacing: -1px;
}

.news-main-wrapper .news-main-wrapper-container .news-main-wrapper-container-left ul,
.news-main-wrapper .news-main-wrapper-container .company-main-wrapper-container-left ul,
.news-main-wrapper .company-main-wrapper-container .news-main-wrapper-container-left ul,
.news-main-wrapper .company-main-wrapper-container .company-main-wrapper-container-left ul,
.company-main-wrapper .news-main-wrapper-container .news-main-wrapper-container-left ul,
.company-main-wrapper .news-main-wrapper-container .company-main-wrapper-container-left ul,
.company-main-wrapper .company-main-wrapper-container .news-main-wrapper-container-left ul,
.company-main-wrapper .company-main-wrapper-container .company-main-wrapper-container-left ul {
  margin-top: 25px;
}

.news-main-wrapper .news-main-wrapper-container .news-main-wrapper-container-left ul li,
.news-main-wrapper .news-main-wrapper-container .company-main-wrapper-container-left ul li,
.news-main-wrapper .company-main-wrapper-container .news-main-wrapper-container-left ul li,
.news-main-wrapper .company-main-wrapper-container .company-main-wrapper-container-left ul li,
.company-main-wrapper .news-main-wrapper-container .news-main-wrapper-container-left ul li,
.company-main-wrapper .news-main-wrapper-container .company-main-wrapper-container-left ul li,
.company-main-wrapper .company-main-wrapper-container .news-main-wrapper-container-left ul li,
.company-main-wrapper .company-main-wrapper-container .company-main-wrapper-container-left ul li {
  list-style: none;
  margin-bottom: 25px;
}

.news-main-wrapper .news-main-wrapper-container .news-main-wrapper-container-left ul li p,
.news-main-wrapper .news-main-wrapper-container .company-main-wrapper-container-left ul li p,
.news-main-wrapper .company-main-wrapper-container .news-main-wrapper-container-left ul li p,
.news-main-wrapper .company-main-wrapper-container .company-main-wrapper-container-left ul li p,
.company-main-wrapper .news-main-wrapper-container .news-main-wrapper-container-left ul li p,
.company-main-wrapper .news-main-wrapper-container .company-main-wrapper-container-left ul li p,
.company-main-wrapper .company-main-wrapper-container .news-main-wrapper-container-left ul li p,
.company-main-wrapper .company-main-wrapper-container .company-main-wrapper-container-left ul li p {
  font-size: 15px;
  color: #000;
  letter-spacing: 1px;
}

.news-main-wrapper .news-main-wrapper-container .news-main-wrapper-container-left ul li p span,
.news-main-wrapper .news-main-wrapper-container .company-main-wrapper-container-left ul li p span,
.news-main-wrapper .company-main-wrapper-container .news-main-wrapper-container-left ul li p span,
.news-main-wrapper .company-main-wrapper-container .company-main-wrapper-container-left ul li p span,
.company-main-wrapper .news-main-wrapper-container .news-main-wrapper-container-left ul li p span,
.company-main-wrapper .news-main-wrapper-container .company-main-wrapper-container-left ul li p span,
.company-main-wrapper .company-main-wrapper-container .news-main-wrapper-container-left ul li p span,
.company-main-wrapper .company-main-wrapper-container .company-main-wrapper-container-left ul li p span {
  color: #42b9d0;
  margin-right: 10px;
  font-weight: bold;
}

.news-main-wrapper .news-main-wrapper-container .news-main-wrapper-container-left table,
.news-main-wrapper .news-main-wrapper-container .company-main-wrapper-container-left table,
.news-main-wrapper .company-main-wrapper-container .news-main-wrapper-container-left table,
.news-main-wrapper .company-main-wrapper-container .company-main-wrapper-container-left table,
.company-main-wrapper .news-main-wrapper-container .news-main-wrapper-container-left table,
.company-main-wrapper .news-main-wrapper-container .company-main-wrapper-container-left table,
.company-main-wrapper .company-main-wrapper-container .news-main-wrapper-container-left table,
.company-main-wrapper .company-main-wrapper-container .company-main-wrapper-container-left table {
  width: 100%;
}

.news-main-wrapper .news-main-wrapper-container .news-main-wrapper-container-left table tr,
.news-main-wrapper .news-main-wrapper-container .company-main-wrapper-container-left table tr,
.news-main-wrapper .company-main-wrapper-container .news-main-wrapper-container-left table tr,
.news-main-wrapper .company-main-wrapper-container .company-main-wrapper-container-left table tr,
.company-main-wrapper .news-main-wrapper-container .news-main-wrapper-container-left table tr,
.company-main-wrapper .news-main-wrapper-container .company-main-wrapper-container-left table tr,
.company-main-wrapper .company-main-wrapper-container .news-main-wrapper-container-left table tr,
.company-main-wrapper .company-main-wrapper-container .company-main-wrapper-container-left table tr {
  height: 62px;
  border-bottom: 1px solid #e5e5e5;
}

.news-main-wrapper .news-main-wrapper-container .news-main-wrapper-container-left table tr th,
.news-main-wrapper .news-main-wrapper-container .company-main-wrapper-container-left table tr th,
.news-main-wrapper .company-main-wrapper-container .news-main-wrapper-container-left table tr th,
.news-main-wrapper .company-main-wrapper-container .company-main-wrapper-container-left table tr th,
.company-main-wrapper .news-main-wrapper-container .news-main-wrapper-container-left table tr th,
.company-main-wrapper .news-main-wrapper-container .company-main-wrapper-container-left table tr th,
.company-main-wrapper .company-main-wrapper-container .news-main-wrapper-container-left table tr th,
.company-main-wrapper .company-main-wrapper-container .company-main-wrapper-container-left table tr th {
  color: #626262;
  font-size: 14px;
  text-align: left;
  padding: 20px 20px 20px 0;
}

.news-main-wrapper .news-main-wrapper-container .news-main-wrapper-container-left table tr td,
.news-main-wrapper .news-main-wrapper-container .company-main-wrapper-container-left table tr td,
.news-main-wrapper .company-main-wrapper-container .news-main-wrapper-container-left table tr td,
.news-main-wrapper .company-main-wrapper-container .company-main-wrapper-container-left table tr td,
.company-main-wrapper .news-main-wrapper-container .news-main-wrapper-container-left table tr td,
.company-main-wrapper .news-main-wrapper-container .company-main-wrapper-container-left table tr td,
.company-main-wrapper .company-main-wrapper-container .news-main-wrapper-container-left table tr td,
.company-main-wrapper .company-main-wrapper-container .company-main-wrapper-container-left table tr td {
  color: #626262;
  font-size: 14px;
  padding: 20px 0;
  line-height: 23px;
}

.news-main-wrapper .news-main-wrapper-container .news-main-wrapper-container-right,
.news-main-wrapper .news-main-wrapper-container .company-main-wrapper-container-right,
.news-main-wrapper .company-main-wrapper-container .news-main-wrapper-container-right,
.news-main-wrapper .company-main-wrapper-container .company-main-wrapper-container-right,
.company-main-wrapper .news-main-wrapper-container .news-main-wrapper-container-right,
.company-main-wrapper .news-main-wrapper-container .company-main-wrapper-container-right,
.company-main-wrapper .company-main-wrapper-container .news-main-wrapper-container-right,
.company-main-wrapper .company-main-wrapper-container .company-main-wrapper-container-right {
  width: 23%;
  margin-left: 50px;
}

.news-main-wrapper .news-main-wrapper-container .news-main-wrapper-container-right .news-main-wrapper-container-right-contents,
.news-main-wrapper .news-main-wrapper-container .news-main-wrapper-container-right .company-main-wrapper-container-right-contents,
.news-main-wrapper .news-main-wrapper-container .company-main-wrapper-container-right .news-main-wrapper-container-right-contents,
.news-main-wrapper .news-main-wrapper-container .company-main-wrapper-container-right .company-main-wrapper-container-right-contents,
.news-main-wrapper .company-main-wrapper-container .news-main-wrapper-container-right .news-main-wrapper-container-right-contents,
.news-main-wrapper .company-main-wrapper-container .news-main-wrapper-container-right .company-main-wrapper-container-right-contents,
.news-main-wrapper .company-main-wrapper-container .company-main-wrapper-container-right .news-main-wrapper-container-right-contents,
.news-main-wrapper .company-main-wrapper-container .company-main-wrapper-container-right .company-main-wrapper-container-right-contents,
.company-main-wrapper .news-main-wrapper-container .news-main-wrapper-container-right .news-main-wrapper-container-right-contents,
.company-main-wrapper .news-main-wrapper-container .news-main-wrapper-container-right .company-main-wrapper-container-right-contents,
.company-main-wrapper .news-main-wrapper-container .company-main-wrapper-container-right .news-main-wrapper-container-right-contents,
.company-main-wrapper .news-main-wrapper-container .company-main-wrapper-container-right .company-main-wrapper-container-right-contents,
.company-main-wrapper .company-main-wrapper-container .news-main-wrapper-container-right .news-main-wrapper-container-right-contents,
.company-main-wrapper .company-main-wrapper-container .news-main-wrapper-container-right .company-main-wrapper-container-right-contents,
.company-main-wrapper .company-main-wrapper-container .company-main-wrapper-container-right .news-main-wrapper-container-right-contents,
.company-main-wrapper .company-main-wrapper-container .company-main-wrapper-container-right .company-main-wrapper-container-right-contents {
  margin-bottom: 23px;
}

.news-main-wrapper .news-main-wrapper-container .news-main-wrapper-container-right .news-main-wrapper-container-right-contents p,
.news-main-wrapper .news-main-wrapper-container .news-main-wrapper-container-right .company-main-wrapper-container-right-contents p,
.news-main-wrapper .news-main-wrapper-container .company-main-wrapper-container-right .news-main-wrapper-container-right-contents p,
.news-main-wrapper .news-main-wrapper-container .company-main-wrapper-container-right .company-main-wrapper-container-right-contents p,
.news-main-wrapper .company-main-wrapper-container .news-main-wrapper-container-right .news-main-wrapper-container-right-contents p,
.news-main-wrapper .company-main-wrapper-container .news-main-wrapper-container-right .company-main-wrapper-container-right-contents p,
.news-main-wrapper .company-main-wrapper-container .company-main-wrapper-container-right .news-main-wrapper-container-right-contents p,
.news-main-wrapper .company-main-wrapper-container .company-main-wrapper-container-right .company-main-wrapper-container-right-contents p,
.company-main-wrapper .news-main-wrapper-container .news-main-wrapper-container-right .news-main-wrapper-container-right-contents p,
.company-main-wrapper .news-main-wrapper-container .news-main-wrapper-container-right .company-main-wrapper-container-right-contents p,
.company-main-wrapper .news-main-wrapper-container .company-main-wrapper-container-right .news-main-wrapper-container-right-contents p,
.company-main-wrapper .news-main-wrapper-container .company-main-wrapper-container-right .company-main-wrapper-container-right-contents p,
.company-main-wrapper .company-main-wrapper-container .news-main-wrapper-container-right .news-main-wrapper-container-right-contents p,
.company-main-wrapper .company-main-wrapper-container .news-main-wrapper-container-right .company-main-wrapper-container-right-contents p,
.company-main-wrapper .company-main-wrapper-container .company-main-wrapper-container-right .news-main-wrapper-container-right-contents p,
.company-main-wrapper .company-main-wrapper-container .company-main-wrapper-container-right .company-main-wrapper-container-right-contents p {
  font-size: 14px;
  color: #42b9d0;
  background-color: #f3f9fc;
  text-align: left;
  padding: 15px;
  font-weight: bold;
  letter-spacing: 2px;
}

.news-main-wrapper .news-main-wrapper-container .news-main-wrapper-container-right .news-main-wrapper-container-right-contents ul,
.news-main-wrapper .news-main-wrapper-container .news-main-wrapper-container-right .company-main-wrapper-container-right-contents ul,
.news-main-wrapper .news-main-wrapper-container .company-main-wrapper-container-right .news-main-wrapper-container-right-contents ul,
.news-main-wrapper .news-main-wrapper-container .company-main-wrapper-container-right .company-main-wrapper-container-right-contents ul,
.news-main-wrapper .company-main-wrapper-container .news-main-wrapper-container-right .news-main-wrapper-container-right-contents ul,
.news-main-wrapper .company-main-wrapper-container .news-main-wrapper-container-right .company-main-wrapper-container-right-contents ul,
.news-main-wrapper .company-main-wrapper-container .company-main-wrapper-container-right .news-main-wrapper-container-right-contents ul,
.news-main-wrapper .company-main-wrapper-container .company-main-wrapper-container-right .company-main-wrapper-container-right-contents ul,
.company-main-wrapper .news-main-wrapper-container .news-main-wrapper-container-right .news-main-wrapper-container-right-contents ul,
.company-main-wrapper .news-main-wrapper-container .news-main-wrapper-container-right .company-main-wrapper-container-right-contents ul,
.company-main-wrapper .news-main-wrapper-container .company-main-wrapper-container-right .news-main-wrapper-container-right-contents ul,
.company-main-wrapper .news-main-wrapper-container .company-main-wrapper-container-right .company-main-wrapper-container-right-contents ul,
.company-main-wrapper .company-main-wrapper-container .news-main-wrapper-container-right .news-main-wrapper-container-right-contents ul,
.company-main-wrapper .company-main-wrapper-container .news-main-wrapper-container-right .company-main-wrapper-container-right-contents ul,
.company-main-wrapper .company-main-wrapper-container .company-main-wrapper-container-right .news-main-wrapper-container-right-contents ul,
.company-main-wrapper .company-main-wrapper-container .company-main-wrapper-container-right .company-main-wrapper-container-right-contents ul {
  width: 100%;
}

.news-main-wrapper .news-main-wrapper-container .news-main-wrapper-container-right .news-main-wrapper-container-right-contents ul li,
.news-main-wrapper .news-main-wrapper-container .news-main-wrapper-container-right .company-main-wrapper-container-right-contents ul li,
.news-main-wrapper .news-main-wrapper-container .company-main-wrapper-container-right .news-main-wrapper-container-right-contents ul li,
.news-main-wrapper .news-main-wrapper-container .company-main-wrapper-container-right .company-main-wrapper-container-right-contents ul li,
.news-main-wrapper .company-main-wrapper-container .news-main-wrapper-container-right .news-main-wrapper-container-right-contents ul li,
.news-main-wrapper .company-main-wrapper-container .news-main-wrapper-container-right .company-main-wrapper-container-right-contents ul li,
.news-main-wrapper .company-main-wrapper-container .company-main-wrapper-container-right .news-main-wrapper-container-right-contents ul li,
.news-main-wrapper .company-main-wrapper-container .company-main-wrapper-container-right .company-main-wrapper-container-right-contents ul li,
.company-main-wrapper .news-main-wrapper-container .news-main-wrapper-container-right .news-main-wrapper-container-right-contents ul li,
.company-main-wrapper .news-main-wrapper-container .news-main-wrapper-container-right .company-main-wrapper-container-right-contents ul li,
.company-main-wrapper .news-main-wrapper-container .company-main-wrapper-container-right .news-main-wrapper-container-right-contents ul li,
.company-main-wrapper .news-main-wrapper-container .company-main-wrapper-container-right .company-main-wrapper-container-right-contents ul li,
.company-main-wrapper .company-main-wrapper-container .news-main-wrapper-container-right .news-main-wrapper-container-right-contents ul li,
.company-main-wrapper .company-main-wrapper-container .news-main-wrapper-container-right .company-main-wrapper-container-right-contents ul li,
.company-main-wrapper .company-main-wrapper-container .company-main-wrapper-container-right .news-main-wrapper-container-right-contents ul li,
.company-main-wrapper .company-main-wrapper-container .company-main-wrapper-container-right .company-main-wrapper-container-right-contents ul li {
  list-style: none;
  padding: 15px 10px 10px 10px;
  border-bottom: 1px solid #e5e5e5;
}

.news-main-wrapper .news-main-wrapper-container .news-main-wrapper-container-right .news-main-wrapper-container-right-contents ul li a,
.news-main-wrapper .news-main-wrapper-container .news-main-wrapper-container-right .company-main-wrapper-container-right-contents ul li a,
.news-main-wrapper .news-main-wrapper-container .company-main-wrapper-container-right .news-main-wrapper-container-right-contents ul li a,
.news-main-wrapper .news-main-wrapper-container .company-main-wrapper-container-right .company-main-wrapper-container-right-contents ul li a,
.news-main-wrapper .company-main-wrapper-container .news-main-wrapper-container-right .news-main-wrapper-container-right-contents ul li a,
.news-main-wrapper .company-main-wrapper-container .news-main-wrapper-container-right .company-main-wrapper-container-right-contents ul li a,
.news-main-wrapper .company-main-wrapper-container .company-main-wrapper-container-right .news-main-wrapper-container-right-contents ul li a,
.news-main-wrapper .company-main-wrapper-container .company-main-wrapper-container-right .company-main-wrapper-container-right-contents ul li a,
.company-main-wrapper .news-main-wrapper-container .news-main-wrapper-container-right .news-main-wrapper-container-right-contents ul li a,
.company-main-wrapper .news-main-wrapper-container .news-main-wrapper-container-right .company-main-wrapper-container-right-contents ul li a,
.company-main-wrapper .news-main-wrapper-container .company-main-wrapper-container-right .news-main-wrapper-container-right-contents ul li a,
.company-main-wrapper .news-main-wrapper-container .company-main-wrapper-container-right .company-main-wrapper-container-right-contents ul li a,
.company-main-wrapper .company-main-wrapper-container .news-main-wrapper-container-right .news-main-wrapper-container-right-contents ul li a,
.company-main-wrapper .company-main-wrapper-container .news-main-wrapper-container-right .company-main-wrapper-container-right-contents ul li a,
.company-main-wrapper .company-main-wrapper-container .company-main-wrapper-container-right .news-main-wrapper-container-right-contents ul li a,
.company-main-wrapper .company-main-wrapper-container .company-main-wrapper-container-right .company-main-wrapper-container-right-contents ul li a {
  font-size: 15px;
  color: #339fd1;
  text-decoration: none;
  line-height: 1.6;
}

.news-main-wrapper .news-main-wrapper-container .news-main-wrapper-container-right .news-main-wrapper-container-right-contents ul li a img,
.news-main-wrapper .news-main-wrapper-container .news-main-wrapper-container-right .company-main-wrapper-container-right-contents ul li a img,
.news-main-wrapper .news-main-wrapper-container .company-main-wrapper-container-right .news-main-wrapper-container-right-contents ul li a img,
.news-main-wrapper .news-main-wrapper-container .company-main-wrapper-container-right .company-main-wrapper-container-right-contents ul li a img,
.news-main-wrapper .company-main-wrapper-container .news-main-wrapper-container-right .news-main-wrapper-container-right-contents ul li a img,
.news-main-wrapper .company-main-wrapper-container .news-main-wrapper-container-right .company-main-wrapper-container-right-contents ul li a img,
.news-main-wrapper .company-main-wrapper-container .company-main-wrapper-container-right .news-main-wrapper-container-right-contents ul li a img,
.news-main-wrapper .company-main-wrapper-container .company-main-wrapper-container-right .company-main-wrapper-container-right-contents ul li a img,
.company-main-wrapper .news-main-wrapper-container .news-main-wrapper-container-right .news-main-wrapper-container-right-contents ul li a img,
.company-main-wrapper .news-main-wrapper-container .news-main-wrapper-container-right .company-main-wrapper-container-right-contents ul li a img,
.company-main-wrapper .news-main-wrapper-container .company-main-wrapper-container-right .news-main-wrapper-container-right-contents ul li a img,
.company-main-wrapper .news-main-wrapper-container .company-main-wrapper-container-right .company-main-wrapper-container-right-contents ul li a img,
.company-main-wrapper .company-main-wrapper-container .news-main-wrapper-container-right .news-main-wrapper-container-right-contents ul li a img,
.company-main-wrapper .company-main-wrapper-container .news-main-wrapper-container-right .company-main-wrapper-container-right-contents ul li a img,
.company-main-wrapper .company-main-wrapper-container .company-main-wrapper-container-right .news-main-wrapper-container-right-contents ul li a img,
.company-main-wrapper .company-main-wrapper-container .company-main-wrapper-container-right .company-main-wrapper-container-right-contents ul li a img {
  margin-right: 10px;
}
/*# sourceMappingURL=style.css.map */
