@charset "UTF-8";
body {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Verdana, "ＭＳ Ｐゴシック", sans-serif;
}

#header {
  background-color: #e9f3f5;
  padding: 16px 0 19px 0;
}

#header .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  max-width: 960px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#header .header .header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: 47px;
}

#header .header .header-nav li {
  list-style: none;
  margin-top: 5px;
  height: 40px;
}

#header .header .header-nav li a {
  text-decoration: none;
  font-size: 14px;
  color: #626262;
  padding-right: 10px;
  font-weight: bold;
}

#header .header .header-nav li a img {
  vertical-align: middle;
  padding-right: 10px;
  margin-bottom: 3px;
}

#header .header .header-nav li a:hover {
  color: #42b9d0;
}

.top-image {
  background-image: url(images/top/cover.jpg);
  background-size: cover;
  height: 420px;
  width: 100%;
}

.top-image-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  max-width: 960px;
}

.top-image-text img {
  margin: 180px 331px 0 0;
}

.top-wrapper {
  background-color: #ffff;
  width: 100%;
  padding: 30px 0;
}

.top-wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.top-wrapper ul li {
  margin: 0 20px 0 20px;
  list-style: none;
  width: 295px;
}

.top-wrapper ul li img {
  height: 190px;
  max-width: 100%;
}

.top-wrapper ul li h5 {
  font-size: 16px;
  margin: 18px 0;
  color: #626262;
}

.top-wrapper ul li p {
  font-size: 13px;
  color: #626262;
  line-height: 20px;
}

.news-wrapper {
  height: 400px;
  width: 100%;
  background-color: #e9f3f5;
}

.news-wrapper h3 {
  font-size: 22px;
  color: #42b9d0;
  text-align: center;
  padding: 53px 0 69px 0;
}

.news-wrapper ul {
  margin-bottom: 30px;
}

.news-wrapper ul p {
  font-size: 14px;
  color: #000;
  text-align: center;
  padding-bottom: 30px;
}

.news-wrapper ul p span {
  font-size: 14px;
  color: #42b9d0;
  margin-right: 10px;
}

#footer {
  height: 180px;
  width: 100%;
  background-color: #42bad0;
}

#footer .footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 35px 15% 0 15%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#footer .footer-list-logo {
  margin-right: 50px;
}

#footer .footer-list-address {
  margin-left: -135px;
}

#footer .footer-list-address p {
  color: #ffff;
  font-size: 12px;
  margin-bottom: 10px;
}

#footer .footer-list a {
  color: #ffff;
  text-decoration: none;
  font-size: 11px;
  margin-right: 10px;
}

#footer .footer-list a img {
  vertical-align: middle;
  margin-right: 3px;
}

#footer .footer-copyright {
  text-align: center;
  margin-top: 23px;
}

#footer .footer-copyright p {
  font-size: 10px;
  color: #b2e1ea;
}

.news-top-wrapper,
.company-top-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 200px;
  background-image: url(images/news/sub_cover.jpg);
  background-size: cover;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.news-top-wrapper p,
.company-top-wrapper p {
  color: #ffff;
  font-size: 32px;
  font-weight: bold;
}

.news-main-wrapper,
.company-main-wrapper {
  width: 100%;
  height: 702px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news-main-wrapper .news-main-wrapper-container,
.news-main-wrapper .company-main-wrapper-container,
.company-main-wrapper .news-main-wrapper-container,
.company-main-wrapper .company-main-wrapper-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 35px 0 70px 0;
  max-width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.news-main-wrapper .news-main-wrapper-container .news-main-wrapper-container-left,
.news-main-wrapper .news-main-wrapper-container .company-main-wrapper-container-left,
.news-main-wrapper .company-main-wrapper-container .news-main-wrapper-container-left,
.news-main-wrapper .company-main-wrapper-container .company-main-wrapper-container-left,
.company-main-wrapper .news-main-wrapper-container .news-main-wrapper-container-left,
.company-main-wrapper .news-main-wrapper-container .company-main-wrapper-container-left,
.company-main-wrapper .company-main-wrapper-container .news-main-wrapper-container-left,
.company-main-wrapper .company-main-wrapper-container .company-main-wrapper-container-left {
  padding-right: 10px;
  width: 75%;
}

.news-main-wrapper .news-main-wrapper-container .news-main-wrapper-container-left h3,
.news-main-wrapper .news-main-wrapper-container .company-main-wrapper-container-left h3,
.news-main-wrapper .company-main-wrapper-container .news-main-wrapper-container-left h3,
.news-main-wrapper .company-main-wrapper-container .company-main-wrapper-container-left h3,
.company-main-wrapper .news-main-wrapper-container .news-main-wrapper-container-left h3,
.company-main-wrapper .news-main-wrapper-container .company-main-wrapper-container-left h3,
.company-main-wrapper .company-main-wrapper-container .news-main-wrapper-container-left h3,
.company-main-wrapper .company-main-wrapper-container .company-main-wrapper-container-left h3 {
  font-size: 20px;
  color: #42b9d0;
  padding-bottom: 20px;
  border-bottom: 3px solid #42b9d0;
  font-weight: bold;
}

.news-main-wrapper .news-main-wrapper-container .news-main-wrapper-container-left ul,
.news-main-wrapper .news-main-wrapper-container .company-main-wrapper-container-left ul,
.news-main-wrapper .company-main-wrapper-container .news-main-wrapper-container-left ul,
.news-main-wrapper .company-main-wrapper-container .company-main-wrapper-container-left ul,
.company-main-wrapper .news-main-wrapper-container .news-main-wrapper-container-left ul,
.company-main-wrapper .news-main-wrapper-container .company-main-wrapper-container-left ul,
.company-main-wrapper .company-main-wrapper-container .news-main-wrapper-container-left ul,
.company-main-wrapper .company-main-wrapper-container .company-main-wrapper-container-left ul {
  margin-top: 25px;
}

.news-main-wrapper .news-main-wrapper-container .news-main-wrapper-container-left ul li,
.news-main-wrapper .news-main-wrapper-container .company-main-wrapper-container-left ul li,
.news-main-wrapper .company-main-wrapper-container .news-main-wrapper-container-left ul li,
.news-main-wrapper .company-main-wrapper-container .company-main-wrapper-container-left ul li,
.company-main-wrapper .news-main-wrapper-container .news-main-wrapper-container-left ul li,
.company-main-wrapper .news-main-wrapper-container .company-main-wrapper-container-left ul li,
.company-main-wrapper .company-main-wrapper-container .news-main-wrapper-container-left ul li,
.company-main-wrapper .company-main-wrapper-container .company-main-wrapper-container-left ul li {
  list-style: none;
  margin-bottom: 25px;
}

.news-main-wrapper .news-main-wrapper-container .news-main-wrapper-container-left ul li p,
.news-main-wrapper .news-main-wrapper-container .company-main-wrapper-container-left ul li p,
.news-main-wrapper .company-main-wrapper-container .news-main-wrapper-container-left ul li p,
.news-main-wrapper .company-main-wrapper-container .company-main-wrapper-container-left ul li p,
.company-main-wrapper .news-main-wrapper-container .news-main-wrapper-container-left ul li p,
.company-main-wrapper .news-main-wrapper-container .company-main-wrapper-container-left ul li p,
.company-main-wrapper .company-main-wrapper-container .news-main-wrapper-container-left ul li p,
.company-main-wrapper .company-main-wrapper-container .company-main-wrapper-container-left ul li p {
  font-size: 15px;
  color: #000;
  letter-spacing: 1px;
}

.news-main-wrapper .news-main-wrapper-container .news-main-wrapper-container-left ul li p span,
.news-main-wrapper .news-main-wrapper-container .company-main-wrapper-container-left ul li p span,
.news-main-wrapper .company-main-wrapper-container .news-main-wrapper-container-left ul li p span,
.news-main-wrapper .company-main-wrapper-container .company-main-wrapper-container-left ul li p span,
.company-main-wrapper .news-main-wrapper-container .news-main-wrapper-container-left ul li p span,
.company-main-wrapper .news-main-wrapper-container .company-main-wrapper-container-left ul li p span,
.company-main-wrapper .company-main-wrapper-container .news-main-wrapper-container-left ul li p span,
.company-main-wrapper .company-main-wrapper-container .company-main-wrapper-container-left ul li p span {
  color: #42b9d0;
  margin-right: 10px;
  font-weight: bold;
}

.news-main-wrapper .news-main-wrapper-container .news-main-wrapper-container-left table,
.news-main-wrapper .news-main-wrapper-container .company-main-wrapper-container-left table,
.news-main-wrapper .company-main-wrapper-container .news-main-wrapper-container-left table,
.news-main-wrapper .company-main-wrapper-container .company-main-wrapper-container-left table,
.company-main-wrapper .news-main-wrapper-container .news-main-wrapper-container-left table,
.company-main-wrapper .news-main-wrapper-container .company-main-wrapper-container-left table,
.company-main-wrapper .company-main-wrapper-container .news-main-wrapper-container-left table,
.company-main-wrapper .company-main-wrapper-container .company-main-wrapper-container-left table {
  width: 100%;
}

.news-main-wrapper .news-main-wrapper-container .news-main-wrapper-container-left table tr,
.news-main-wrapper .news-main-wrapper-container .company-main-wrapper-container-left table tr,
.news-main-wrapper .company-main-wrapper-container .news-main-wrapper-container-left table tr,
.news-main-wrapper .company-main-wrapper-container .company-main-wrapper-container-left table tr,
.company-main-wrapper .news-main-wrapper-container .news-main-wrapper-container-left table tr,
.company-main-wrapper .news-main-wrapper-container .company-main-wrapper-container-left table tr,
.company-main-wrapper .company-main-wrapper-container .news-main-wrapper-container-left table tr,
.company-main-wrapper .company-main-wrapper-container .company-main-wrapper-container-left table tr {
  height: 62px;
  border-bottom: 1px solid #626262;
}

.news-main-wrapper .news-main-wrapper-container .news-main-wrapper-container-left table tr th,
.news-main-wrapper .news-main-wrapper-container .company-main-wrapper-container-left table tr th,
.news-main-wrapper .company-main-wrapper-container .news-main-wrapper-container-left table tr th,
.news-main-wrapper .company-main-wrapper-container .company-main-wrapper-container-left table tr th,
.company-main-wrapper .news-main-wrapper-container .news-main-wrapper-container-left table tr th,
.company-main-wrapper .news-main-wrapper-container .company-main-wrapper-container-left table tr th,
.company-main-wrapper .company-main-wrapper-container .news-main-wrapper-container-left table tr th,
.company-main-wrapper .company-main-wrapper-container .company-main-wrapper-container-left table tr th {
  font-weight: initial;
  color: #626262;
  font-size: 14px;
  text-align: left;
  margin: 20px 0;
}

.news-main-wrapper .news-main-wrapper-container .news-main-wrapper-container-left table tr td,
.news-main-wrapper .news-main-wrapper-container .company-main-wrapper-container-left table tr td,
.news-main-wrapper .company-main-wrapper-container .news-main-wrapper-container-left table tr td,
.news-main-wrapper .company-main-wrapper-container .company-main-wrapper-container-left table tr td,
.company-main-wrapper .news-main-wrapper-container .news-main-wrapper-container-left table tr td,
.company-main-wrapper .news-main-wrapper-container .company-main-wrapper-container-left table tr td,
.company-main-wrapper .company-main-wrapper-container .news-main-wrapper-container-left table tr td,
.company-main-wrapper .company-main-wrapper-container .company-main-wrapper-container-left table tr td {
  color: #626262;
  font-size: 14px;
  padding: 20px 0;
  line-height: 25px;
}

.news-main-wrapper .news-main-wrapper-container .news-main-wrapper-container-right,
.news-main-wrapper .news-main-wrapper-container .company-main-wrapper-container-right,
.news-main-wrapper .company-main-wrapper-container .news-main-wrapper-container-right,
.news-main-wrapper .company-main-wrapper-container .company-main-wrapper-container-right,
.company-main-wrapper .news-main-wrapper-container .news-main-wrapper-container-right,
.company-main-wrapper .news-main-wrapper-container .company-main-wrapper-container-right,
.company-main-wrapper .company-main-wrapper-container .news-main-wrapper-container-right,
.company-main-wrapper .company-main-wrapper-container .company-main-wrapper-container-right {
  width: 23%;
  margin-left: 50px;
}

.news-main-wrapper .news-main-wrapper-container .news-main-wrapper-container-right .news-main-wrapper-container-right-contents,
.news-main-wrapper .news-main-wrapper-container .news-main-wrapper-container-right .company-main-wrapper-container-right-contents,
.news-main-wrapper .news-main-wrapper-container .company-main-wrapper-container-right .news-main-wrapper-container-right-contents,
.news-main-wrapper .news-main-wrapper-container .company-main-wrapper-container-right .company-main-wrapper-container-right-contents,
.news-main-wrapper .company-main-wrapper-container .news-main-wrapper-container-right .news-main-wrapper-container-right-contents,
.news-main-wrapper .company-main-wrapper-container .news-main-wrapper-container-right .company-main-wrapper-container-right-contents,
.news-main-wrapper .company-main-wrapper-container .company-main-wrapper-container-right .news-main-wrapper-container-right-contents,
.news-main-wrapper .company-main-wrapper-container .company-main-wrapper-container-right .company-main-wrapper-container-right-contents,
.company-main-wrapper .news-main-wrapper-container .news-main-wrapper-container-right .news-main-wrapper-container-right-contents,
.company-main-wrapper .news-main-wrapper-container .news-main-wrapper-container-right .company-main-wrapper-container-right-contents,
.company-main-wrapper .news-main-wrapper-container .company-main-wrapper-container-right .news-main-wrapper-container-right-contents,
.company-main-wrapper .news-main-wrapper-container .company-main-wrapper-container-right .company-main-wrapper-container-right-contents,
.company-main-wrapper .company-main-wrapper-container .news-main-wrapper-container-right .news-main-wrapper-container-right-contents,
.company-main-wrapper .company-main-wrapper-container .news-main-wrapper-container-right .company-main-wrapper-container-right-contents,
.company-main-wrapper .company-main-wrapper-container .company-main-wrapper-container-right .news-main-wrapper-container-right-contents,
.company-main-wrapper .company-main-wrapper-container .company-main-wrapper-container-right .company-main-wrapper-container-right-contents {
  margin-bottom: 40px;
}

.news-main-wrapper .news-main-wrapper-container .news-main-wrapper-container-right .news-main-wrapper-container-right-contents p,
.news-main-wrapper .news-main-wrapper-container .news-main-wrapper-container-right .company-main-wrapper-container-right-contents p,
.news-main-wrapper .news-main-wrapper-container .company-main-wrapper-container-right .news-main-wrapper-container-right-contents p,
.news-main-wrapper .news-main-wrapper-container .company-main-wrapper-container-right .company-main-wrapper-container-right-contents p,
.news-main-wrapper .company-main-wrapper-container .news-main-wrapper-container-right .news-main-wrapper-container-right-contents p,
.news-main-wrapper .company-main-wrapper-container .news-main-wrapper-container-right .company-main-wrapper-container-right-contents p,
.news-main-wrapper .company-main-wrapper-container .company-main-wrapper-container-right .news-main-wrapper-container-right-contents p,
.news-main-wrapper .company-main-wrapper-container .company-main-wrapper-container-right .company-main-wrapper-container-right-contents p,
.company-main-wrapper .news-main-wrapper-container .news-main-wrapper-container-right .news-main-wrapper-container-right-contents p,
.company-main-wrapper .news-main-wrapper-container .news-main-wrapper-container-right .company-main-wrapper-container-right-contents p,
.company-main-wrapper .news-main-wrapper-container .company-main-wrapper-container-right .news-main-wrapper-container-right-contents p,
.company-main-wrapper .news-main-wrapper-container .company-main-wrapper-container-right .company-main-wrapper-container-right-contents p,
.company-main-wrapper .company-main-wrapper-container .news-main-wrapper-container-right .news-main-wrapper-container-right-contents p,
.company-main-wrapper .company-main-wrapper-container .news-main-wrapper-container-right .company-main-wrapper-container-right-contents p,
.company-main-wrapper .company-main-wrapper-container .company-main-wrapper-container-right .news-main-wrapper-container-right-contents p,
.company-main-wrapper .company-main-wrapper-container .company-main-wrapper-container-right .company-main-wrapper-container-right-contents p {
  font-size: 14px;
  color: #42b9d0;
  background-color: #f3f9fc;
  text-align: left;
  padding: 10px 15px;
  font-weight: bold;
}

.news-main-wrapper .news-main-wrapper-container .news-main-wrapper-container-right .news-main-wrapper-container-right-contents ul,
.news-main-wrapper .news-main-wrapper-container .news-main-wrapper-container-right .company-main-wrapper-container-right-contents ul,
.news-main-wrapper .news-main-wrapper-container .company-main-wrapper-container-right .news-main-wrapper-container-right-contents ul,
.news-main-wrapper .news-main-wrapper-container .company-main-wrapper-container-right .company-main-wrapper-container-right-contents ul,
.news-main-wrapper .company-main-wrapper-container .news-main-wrapper-container-right .news-main-wrapper-container-right-contents ul,
.news-main-wrapper .company-main-wrapper-container .news-main-wrapper-container-right .company-main-wrapper-container-right-contents ul,
.news-main-wrapper .company-main-wrapper-container .company-main-wrapper-container-right .news-main-wrapper-container-right-contents ul,
.news-main-wrapper .company-main-wrapper-container .company-main-wrapper-container-right .company-main-wrapper-container-right-contents ul,
.company-main-wrapper .news-main-wrapper-container .news-main-wrapper-container-right .news-main-wrapper-container-right-contents ul,
.company-main-wrapper .news-main-wrapper-container .news-main-wrapper-container-right .company-main-wrapper-container-right-contents ul,
.company-main-wrapper .news-main-wrapper-container .company-main-wrapper-container-right .news-main-wrapper-container-right-contents ul,
.company-main-wrapper .news-main-wrapper-container .company-main-wrapper-container-right .company-main-wrapper-container-right-contents ul,
.company-main-wrapper .company-main-wrapper-container .news-main-wrapper-container-right .news-main-wrapper-container-right-contents ul,
.company-main-wrapper .company-main-wrapper-container .news-main-wrapper-container-right .company-main-wrapper-container-right-contents ul,
.company-main-wrapper .company-main-wrapper-container .company-main-wrapper-container-right .news-main-wrapper-container-right-contents ul,
.company-main-wrapper .company-main-wrapper-container .company-main-wrapper-container-right .company-main-wrapper-container-right-contents ul {
  width: 100%;
}

.news-main-wrapper .news-main-wrapper-container .news-main-wrapper-container-right .news-main-wrapper-container-right-contents ul li,
.news-main-wrapper .news-main-wrapper-container .news-main-wrapper-container-right .company-main-wrapper-container-right-contents ul li,
.news-main-wrapper .news-main-wrapper-container .company-main-wrapper-container-right .news-main-wrapper-container-right-contents ul li,
.news-main-wrapper .news-main-wrapper-container .company-main-wrapper-container-right .company-main-wrapper-container-right-contents ul li,
.news-main-wrapper .company-main-wrapper-container .news-main-wrapper-container-right .news-main-wrapper-container-right-contents ul li,
.news-main-wrapper .company-main-wrapper-container .news-main-wrapper-container-right .company-main-wrapper-container-right-contents ul li,
.news-main-wrapper .company-main-wrapper-container .company-main-wrapper-container-right .news-main-wrapper-container-right-contents ul li,
.news-main-wrapper .company-main-wrapper-container .company-main-wrapper-container-right .company-main-wrapper-container-right-contents ul li,
.company-main-wrapper .news-main-wrapper-container .news-main-wrapper-container-right .news-main-wrapper-container-right-contents ul li,
.company-main-wrapper .news-main-wrapper-container .news-main-wrapper-container-right .company-main-wrapper-container-right-contents ul li,
.company-main-wrapper .news-main-wrapper-container .company-main-wrapper-container-right .news-main-wrapper-container-right-contents ul li,
.company-main-wrapper .news-main-wrapper-container .company-main-wrapper-container-right .company-main-wrapper-container-right-contents ul li,
.company-main-wrapper .company-main-wrapper-container .news-main-wrapper-container-right .news-main-wrapper-container-right-contents ul li,
.company-main-wrapper .company-main-wrapper-container .news-main-wrapper-container-right .company-main-wrapper-container-right-contents ul li,
.company-main-wrapper .company-main-wrapper-container .company-main-wrapper-container-right .news-main-wrapper-container-right-contents ul li,
.company-main-wrapper .company-main-wrapper-container .company-main-wrapper-container-right .company-main-wrapper-container-right-contents ul li {
  margin-bottom: 10px;
  list-style: none;
  padding: 15px 10px 15px 10px;
  border-bottom: 1px solid #626262;
}

.news-main-wrapper .news-main-wrapper-container .news-main-wrapper-container-right .news-main-wrapper-container-right-contents ul li a,
.news-main-wrapper .news-main-wrapper-container .news-main-wrapper-container-right .company-main-wrapper-container-right-contents ul li a,
.news-main-wrapper .news-main-wrapper-container .company-main-wrapper-container-right .news-main-wrapper-container-right-contents ul li a,
.news-main-wrapper .news-main-wrapper-container .company-main-wrapper-container-right .company-main-wrapper-container-right-contents ul li a,
.news-main-wrapper .company-main-wrapper-container .news-main-wrapper-container-right .news-main-wrapper-container-right-contents ul li a,
.news-main-wrapper .company-main-wrapper-container .news-main-wrapper-container-right .company-main-wrapper-container-right-contents ul li a,
.news-main-wrapper .company-main-wrapper-container .company-main-wrapper-container-right .news-main-wrapper-container-right-contents ul li a,
.news-main-wrapper .company-main-wrapper-container .company-main-wrapper-container-right .company-main-wrapper-container-right-contents ul li a,
.company-main-wrapper .news-main-wrapper-container .news-main-wrapper-container-right .news-main-wrapper-container-right-contents ul li a,
.company-main-wrapper .news-main-wrapper-container .news-main-wrapper-container-right .company-main-wrapper-container-right-contents ul li a,
.company-main-wrapper .news-main-wrapper-container .company-main-wrapper-container-right .news-main-wrapper-container-right-contents ul li a,
.company-main-wrapper .news-main-wrapper-container .company-main-wrapper-container-right .company-main-wrapper-container-right-contents ul li a,
.company-main-wrapper .company-main-wrapper-container .news-main-wrapper-container-right .news-main-wrapper-container-right-contents ul li a,
.company-main-wrapper .company-main-wrapper-container .news-main-wrapper-container-right .company-main-wrapper-container-right-contents ul li a,
.company-main-wrapper .company-main-wrapper-container .company-main-wrapper-container-right .news-main-wrapper-container-right-contents ul li a,
.company-main-wrapper .company-main-wrapper-container .company-main-wrapper-container-right .company-main-wrapper-container-right-contents ul li a {
  font-size: 15px;
  color: #42b9d0;
  text-decoration: none;
}

.news-main-wrapper .news-main-wrapper-container .news-main-wrapper-container-right .news-main-wrapper-container-right-contents ul li a img,
.news-main-wrapper .news-main-wrapper-container .news-main-wrapper-container-right .company-main-wrapper-container-right-contents ul li a img,
.news-main-wrapper .news-main-wrapper-container .company-main-wrapper-container-right .news-main-wrapper-container-right-contents ul li a img,
.news-main-wrapper .news-main-wrapper-container .company-main-wrapper-container-right .company-main-wrapper-container-right-contents ul li a img,
.news-main-wrapper .company-main-wrapper-container .news-main-wrapper-container-right .news-main-wrapper-container-right-contents ul li a img,
.news-main-wrapper .company-main-wrapper-container .news-main-wrapper-container-right .company-main-wrapper-container-right-contents ul li a img,
.news-main-wrapper .company-main-wrapper-container .company-main-wrapper-container-right .news-main-wrapper-container-right-contents ul li a img,
.news-main-wrapper .company-main-wrapper-container .company-main-wrapper-container-right .company-main-wrapper-container-right-contents ul li a img,
.company-main-wrapper .news-main-wrapper-container .news-main-wrapper-container-right .news-main-wrapper-container-right-contents ul li a img,
.company-main-wrapper .news-main-wrapper-container .news-main-wrapper-container-right .company-main-wrapper-container-right-contents ul li a img,
.company-main-wrapper .news-main-wrapper-container .company-main-wrapper-container-right .news-main-wrapper-container-right-contents ul li a img,
.company-main-wrapper .news-main-wrapper-container .company-main-wrapper-container-right .company-main-wrapper-container-right-contents ul li a img,
.company-main-wrapper .company-main-wrapper-container .news-main-wrapper-container-right .news-main-wrapper-container-right-contents ul li a img,
.company-main-wrapper .company-main-wrapper-container .news-main-wrapper-container-right .company-main-wrapper-container-right-contents ul li a img,
.company-main-wrapper .company-main-wrapper-container .company-main-wrapper-container-right .news-main-wrapper-container-right-contents ul li a img,
.company-main-wrapper .company-main-wrapper-container .company-main-wrapper-container-right .company-main-wrapper-container-right-contents ul li a img {
  margin-right: 10px;
}
/*# sourceMappingURL=style.css.map */